.navbar-container {
  background: rgba(235, 245, 255, 0.9); /* Soft light blue */
  backdrop-filter: blur(10px);
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 10px;
}

/* Logo Section */
.logo-section {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 26px;
  font-weight: 600;
  color: #2264A7; 
  letter-spacing: 1px;
}


.nav-links {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-size: 17px;
  color: #2264A7; 
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #2264A7;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover {
  color: #1C4C81; 
  cursor: pointer;
}

.nav-link:hover::after {
  width: 100%;
}


.btn-container {
  display: flex;
}

.btn {
  background: white;
  color: #2264A7;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  border: 1.5px solid rgba(34, 100, 167, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-login:hover,
.btn-register:hover {
  background: #2264A7;
  color: white;
  border-radius: 5px;
}

.btn:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .navbar-container {
    padding: 15px 30px;
  }
}

.profileImg-container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid darkorchid;
  margin-top: 5px;
  transition: transform 0.3s ease-in-out;
}

.profileImg-container img:hover {
  transform: scale(1.05);
}

.registred-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.creat-container {
  border-radius: 10px;
  border: 2px solid darkorchid;
  background: white;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.creat-container svg {
  font-size: 16px;
  color: #007bff;
  transition: color 0.3s ease-in-out;
}

.creat-container:hover {
  background-color: #007bff;
  transform: scale(1.05);
  cursor: pointer;
}

.creat-container:hover svg {
  color: white;
}
